* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.landing-page {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  justify-content: space-around;
}

.overview-title {
  margin: 7% 0 4%;
  font-family: sans-serif;
}

.overview-ul,
.tools-ul,
.preview-ul,
.frames-ul {
  padding: 20px;
  font-family: sans-serif;
}

.btn-screenshot-gifs {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.create-sprite-btn {
  margin: 5% 0 2%;
  text-transform: capitalize;
  font-size: 25px;
  padding: 10px;
  border-radius: 4px;
  border: 2px solid;
}

.create-sprite-btn:hover {
  cursor: pointer;
  border: 2px solid #ffffff;
  background-image: linear-gradient(to right, #fa9f4d, #c42e92);
  color: #ffffff;
}

.gifs {
  display: flex;
  flex-direction: row;
}

.gif-bat {
  width: 160px;
  height: 160px;
  background: url("./images/bat.gif");
}

.gif-cat {
  width: 160px;
  height: 174px;
  background: url('./images/cat_landing.gif');
  background-size: contain;
}

.screenshot {
  width: 600px;
  height: 275px;
  background: url('./images/screenshot.png');
  box-shadow: 0px 0px 10px 0px #757575;
  background-size: contain;
}

.about-author {
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.about-author-title {
  font-family: sans-serif;
}

.about-author-link {
  text-decoration: none;
  color: #c42e92;
}

.about-author-link:hover {
  color: #fa9f4d;
}

.content-wrapper {
  position: relative;
  z-index: 1;
}

.header {
  width: 100%;
  height: 40px;
  display: inline-flex;
  align-items: center;
  color: #212121;
  box-shadow: 0px 1px 5px 0px #757575;
}

.menu-button {
  position: relative;
  width: 16px;
  height: 2px;
  background-color: #757575;
  margin: 0 0 0 20px;
}

.menu-button::before,
.menu-button::after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #757575;
}

.menu-button::before {
  margin-top: -6px;
}

.menu-button::after {
  margin-top: 6px;
}

.header-h1 {
  font-family: sans-serif;
  font-size: 20px;
  margin-left: 30px;
}

.context-menu {
  position: relative;
  right: 30px;
  width: 4px;
  height: 4px;
  background-color: #757575;
  margin: 0 0 0 auto;
  border-radius: 50%;
  
}

.context-menu::before,
.context-menu::after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #757575;
  border-radius: 50%;
}

.context-menu::before {
  margin-top: -6px;
}
  
.context-menu::after {
  margin-top: 6px;
}
  
.main {
  display: flex;
  margin-top: 20px;
  height: calc(100vh - 60px);
}

.tools-wrapper {
  width: 15%;
  padding-left: 10px;
}

.pen-sizes {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.pen-sizes__title {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.pen-sizes__10 {
  width: 10px;
  height: 10px;
}

.pen-sizes__25 {
  width: 25px;
  height: 25px;
}

.pen-sizes__40 {
  width: 40px;
  height: 40px;
}

.pen-sizes__10,
.pen-sizes__25,
.pen-sizes__40 {
  display: inline-block;
  margin: 0 10px;
  background-color: #000000;
}

.pen-sizes__10:hover,
.pen-sizes__25:hover,
.pen-sizes__40:hover {
  box-shadow: inset 0px 0px 9px 0px #eeeeee;
  cursor: pointer;
}

.active-pen {
  background-color: #ffff00
}

.colors-wrapper {
  position: relative;
}

label:hover {
  cursor: pointer;
}

.custom-color {
  border: none;
  background: none;
  margin-bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 30px;
}

.current-color {
  z-index: 2;
  width: 50px;
  height: 50px;
  background-color: #000000;
  position: relative;
}

.previous-color {
  top: -25px;
  left: 25px;
  z-index: 1;
  width: 50px;
  height: 50px;
  background-color: #ff0000;
  position: relative;
}

.previous-color:hover {
  cursor: pointer;
}

.frames-wrapper {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.frames-wrapper::-webkit-scrollbar {
  width: 5px;
}

.frames-wrapper::-webkit-scrollbar-thumb {
  background-color: #757575;
  outline: 1px solid slategrey;
}

.frame {
  width: 100px;
  height: 100px;
  position: relative;
  box-shadow: 0px 0px 5px 0px #757575;
  margin: 10px auto 10px auto;
}

.active-frame {
  box-shadow: 0px 0px 10px 0px #ffff00;
}

.frame-number {
  top: 1px;
  left: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.delete-frame {
  top: 1px;
  right: 1px;
  background-image: url('./images/trash-solid.webp');
}

.copy-frame {
  right: 1px;
  bottom: 1px;
  background-image: url('./images/copy-solid.webp');
}

.frame-number,
.delete-frame,
.copy-frame {
  z-index: 2;
  position: absolute;
  width: 15px;
  height: 17px;
  border-radius: 4px;
  background-color: #ffffff;
}

.delete-frame:hover,
.copy-frame:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.frame-canvas {
  position: relative;
  z-index: 1;
  width: 100px;
  height: 100px;
}

.new-frame-button {
  width: 70px;
  margin: 10px auto 10px auto;
}

.new-frame-button:hover {
  cursor: pointer;
}

.canvas-wrapper {
  margin: 0 auto;
  display: flex;
}

.main-canvas {
  box-shadow: 0px 0px 5px 0px #757575;
  width: 500px;
  height: 500px;
}

.preview-wrapper {
  position: relative;
  width: 25%;
  display: flex;
  flex-direction: column;
}

.animation {
  width: 100%;
  display: flex;
}

.animation-canvas {
  width: 250px;
  height: 250px;
  box-shadow: 0px 0px 5px 0px #757575;
  margin: 0 auto;
}

.range {
  -webkit-appearance: none;
  border-radius: 2px;
  height: 4px;
  border: 1px solid #D4D4D4;
  background-color: #d4d4d4;
  cursor: pointer;
  margin: 20px auto;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background:#D4D4D4;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s;
}

.tooltip {
  width: 50px;
  height: 30px;
  border-radius: 8px;
  background-color: #ffff00;
  justify-content: center;
  align-items: center;
  margin: 10px auto 0 auto;
  display: flex;
}

.full-screen-button {
  width: 100px;
  margin: 20px auto 0 auto;
}

.full-screen-button:hover {
  cursor: pointer;
}
